a:link, a:visited {
	color: #ffffff;
	border-bottom:1px solid #333;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	text-decoration:none;
}

a:hover {
	color: #000;
	border-bottom:1px solid #000;
	text-decoration:none;
}

img{
    width:100%;
}

.txt{
    display:block;
	margin:-2px 0 0 0;
	padding-top:20px;
	width:98%;
	padding-left:2%;
	height:33px;
	background: #f7f7f7;
}

.loader{
    display: block;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    width: 30px;
	animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
}

html {
  height: 100%;
}

body {
  background: #f2f2f2;
  font-family: 'Varela';
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  min-height: 100%;
  position: relative;
}

label {
  margin-top: 6px;
  line-height: 17px;
  position: left;
}

a {
  color: #fff;
}

a:focus,
a:hover {
  color: #008080;
}



.btn-default {
  background-color: #9ECFFF;
  background-image: none;
  padding: 8px 50px;
  border-radius: 0;
  border: 2px solid #93a5ab;
  box-shadow: inset 0 0 0 0 #7692A7;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.btn-default:focus,
.btn-default:hover,
.btn-default.active,
.btn-default:active {
  background-color: #9ECFFF;
  border-color: #fff;
  box-shadow: inset 0 0 100px 0 #7692A7;
  color: #FFF;
}

.navbar-brand mr-0 mr-md-2 {
    width: 30px ;
    height: 30px ;
}
.img{
 filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;
}

.img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
 }
