@import url(https://fonts.googleapis.com/css?family=Varela);

html,
body{
  width:100%;
	height:100%;
	margin:0;
	padding:0;
}

#all{
	width:100%;
	height:100%;
	overflow-x:hidden;
	overflow-y: visible;
    position:relative;
}

body{
	font-family: Helvetica, Arial, sans-serif;
	font-size:12pt;
	background:#444;
	color:#352e2a;
	background: url('http://www.claudiogomboli.com/lab/gallery/imgs/background.jpg');
    background-size: cover;
    background-position: center center;
}

a:link, a:visited {
	color: #ffffff;
	border-bottom:1px solid #333;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	text-decoration:none;
}

a:hover {
	color: #000;
	border-bottom:1px solid #000;
	text-decoration:none;
}

img{
    width:100%;
}

#allcontent{
	margin:60px auto 0 auto;
    width:100%;
    max-width:1140px;
    height:700px;
    position:relative;
	-webkit-animation: comein 1.5s ease-in-out;
	-moz-animation: comein 1.5s ease-in-out;
	animation: comein 1.5s ease-in-out;
}

.portfolio{
    width:100%;
    max-width:1000px;
    position:absolute;
    right:0;
    top:0;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    cursor:pointer;
	-webkit-box-shadow:-2px 0 3px rgba(0,0,0,0.3);
	-moz-box-shadow:-2px 0 3px rgba(0,0,0,0.3);
	box-shadow:-2px 0 3px rgba(0,0,0,0.3);
}


.portfolio:nth-child(1) {
	left: 10px;
}
.portfolio:nth-child(1):hover {
	-webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
	left: 0;
}

.portfolio:nth-child(2) {
	left: 10%;
}
.portfolio:nth-child(2):hover {
	-webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
	left: 5%;
}

.portfolio:nth-child(3) {
	left: 20%;
}
.portfolio:nth-child(3):hover {
	-webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
	left: 15%;
}

.portfolio:nth-child(4) {
	left: 30%;
}
.portfolio:nth-child(4):hover {
	-webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
	left: 25%;
}

.portfolio:nth-child(5) {
	left: 40%;
}
.portfolio:nth-child(5):hover {
	-webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
	left: 35%;
}

.opened {
	z-index: 1000;
	left:0 !important;
	-webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-box-shadow:0 0 3px rgba(0,0,0,0.3);
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.3);
	box-shadow:0 0 3px rgba(0,0,0,0.3);
	width:100%;
    max-width:1140px;
}

.opened img{
		z-index:5;
}

.ombra{
	position:absolute;
    bottom:20px;
    left:10px;
    width:90%;
	height:20px;
	-webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform:rotate(-2deg);
	-moz-transform:rotate(-2deg);
	transform:rotate(-2deg);
	display:none;
	z-index:-1;
}

.ombra:after{
	display:block;
	content:"";
	position:absolute;
    bottom:-8px;
    right:-93px;
    width:90%;
	height:20px;
	-webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform:rotate(4deg);
	-moz-transform:rotate(4deg);
	transform:rotate(4deg);
}

.txt{
    display:block;
	margin:-2px 0 0 0;
	padding-top:20px;
	width:98%;
	padding-left:2%;
	height:33px;
	background: #f7f7f7;
}


#navi{
	position:absolute;
	bottom:-40px;
	left:50%;
	margin:0 0 0 -62px;
	background:#000;
	opacity:0.8;
	color:#fff;
	height:24px;
	-webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    padding:7px 10px 0 10px;
}

.circle{
	display:inline-block;
	width:15px;
	height:15px;
	-webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    background:#efefef;
    border:1px solid #000;
    margin-right:6px;
    cursor:pointer;
}

.circle:hover{
	background:#fff;
	border:1px solid #ccc;
}

.circle:active,
.activenav,
.activenav:hover{
	background:#666;
	border:1px solid #333;
}

.activenav{
	cursor: default;
}

.circle:last-child{
	margin-right: 0;
}



/* loading */
#loading{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	top:0;
	left:0;
	z-index:10001;
	position:absolute;
}

.loader{
    display: block;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    width: 30px;
	animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
}


.footer{
	font-size:0.6em;
	color:#333;
	text-align:center;
	width:100%;
	height:30px;
	position:absolute;
	bottom:-100px;
	left:0;
}


/*enter*/
@-webkit-keyframes comein {
	0% { opacity: 0; -webkit-transform: translateY(-3000px); }
	80% { opacity: 1; -webkit-transform: translateY(40px); }
	100% { -webkit-transform: translateY(0); }
}
@-moz-keyframes comein {
	0% { opacity: 0; -moz-transform: translateY(-3000px); }
	80% { opacity: 1; -moz-transform: translateY(40px); }
	100% { -moz-transform: translateY(0); }
}
@keyframes comein {
	0% { opacity: 0; transform: translateY(-3000px); }
	80% { opacity: 1; transform: translateY(40px); }
	100% { transform: translateY(0); }
}


input[type=text] {
  border: 2px solid red;
  border-radius: 4px;
}

html {
  height: 100%;
}

body {
  background: #f2f2f2;
  font-family: 'Varela', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  min-height: 100%;
  position: relative;
}

label {
  margin-top: 6px;
  line-height: 17px;
  position: left;
}

a {
  color: #fff;
}

a:focus,
a:hover {
  color: #008080;
}

.checkbox-inline+.checkbox-inline,
.radio-inline+.radio-inline {
  margin-top: 6px;
}

/******* Login Page *******/

body.login {
  background: rgba(241, 242, 181, 1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(19, 80, 88, 1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(19, 80, 88, 1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(19, 80, 88, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(19, 80, 88, 1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(19, 80, 88, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(19, 80, 88, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f1f2b5', endColorstr='#135058', GradientType=1);
}

.relative {
  position: relative;
}

.login-container-wrapper .logo,
.login-container-wrapper .welcome {
  margin: 0 0 20px 0;
  font-size: 16px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
}

.login-container-wrapper .logo {
  text-align: center;
  position: absolute;
  top: -42px;
  margin: 0 auto;
  width: 25%;
  left: 37.5%;
  border-radius: 50%;
   background-color: rgba(159, 159, 155, 0.5);
  padding: 25px;
  box-shadow: 0px 0px 9px 2px #344454;
}

.login-container-wrapper {
  max-width: 400px;
  margin: 10% auto 8%;
  padding: 40px;
  box-sizing: border-box;
  background-color: rgba(159, 159, 155, 0.5);
  box-shadow: 1px 1px 10px 1px #000000, 8px 8px 0px 0px #344454, 12px 12px 10px 0px #000000;
  position: relative;
  padding-top: 80px;
}

.logo .fa {
  font-size: 50px;
}
.login input:focus + .fa{
  color:#fff;
}
.login-form .form-group {
  margin-right: 0;
  margin-left: 0;
}

.login-form i {
  position: absolute;
  top: 18px;
  right: 20px;
  color: #93a5ab;
}

.login-form .input-lg {
  font-size: 16px;
  height: 52px;
  padding: 10px 25px;
  border-radius: 0;
}

.login input[type="email"],
.login input[type="password"],
.login input:focus {
  background-color: rgba(40, 52, 67, 0.75);
  border: 1px solid #4a525f;
  color: #eee;
  border-left: 4px solid #93a5ab;
}

.login input:focus {
  border-left: 4px solid #ccd8da;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: rgba(40, 52, 67, 0.75)!important;
  background-image: none;
  color: rgb(0, 0, 0);
  border-color: #FAFFBD;
}

.login .checkbox label,
.login .checkbox a {
  color: #ddd;
}

.btn-success {
  background-color: #9ECFFF;
  background-image: none;
  padding: 8px 50px;
  border-radius: 0;
  border: 2px solid #93a5ab;
  box-shadow: inset 0 0 0 0 #7692A7;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.btn-success:focus,
.btn-success:hover,
.btn-success.active,
.btn-success:active {
  background-color: #9ECFFF;
  border-color: #fff;
  box-shadow: inset 0 0 100px 0 #7692A7;
  color: #FFF;
}
#particles-js {
/*   background: cornflowerblue; */
  width:100%;
  height:100%;
  position:absolute;
  z-index:-1;
}
.user-menu {
	display: block;
	margin-left: 100px;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 1px;
	cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: #5E6473
}
.dropdown-menu {
    position: relative;
    display: inline-block;
    background-color: #5E6473;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: #ffffff;
    min-width: 250px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 30px 16px;
	text-align: center;
    text-decoration: none;
    display: block;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	font-size: 24px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.dropdown-content a:hover {
	background-color: #ffffff;
	color: black;
}

.dropdown .dropdown-content.show {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ffffff;
}
.dropdown-menu{
    background-color: #344454;
    color: #ffffff;
}

.navbar-brand mr-0 mr-md-2 {
    width: 30px ;
    height: 30px ;
}
.img{
 filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;
}

 .img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }
.dropdown-item{
     color: rgba(255,255,255,.5);
}
.dropdown-item a{
    background-color: #ffffff;
	color: black;
}

.btn-default {
  background-color: #9ECFFF;
  padding: 8px 50px;
  border-radius: 0;
  border: 2px solid #93a5ab;
  box-shadow: inset 0 0 0 0 #7692A7;
}

.btn-default:focus,
.btn-default:hover,
.btn-default.active,
.btn-default:active {
  background-color: #9ECFFF;
  border-color: #fff;
  box-shadow: inset 0 0 100px 0 #7692A7;
  color: #FFF;
}

