{% extends "index.html" %}
{% block content %}
      <div class="row">
                 <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/1280px-Star_Wars_Logo.svg.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Star Wars</h5>
                        <p class="card-text"> </p>
                        <a href="#" class="btn btn-primary">Star Wars</a>
                      </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://farm6.staticflickr.com/5587/15230985546_bba3df28a2_b.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">The Hunger Games Part 1</h5>
                        <p class="card-text"> </p>
                        <a href="#" class="btn btn-primary">The Hunger Games Part 1</a>
                      </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://farm4.staticflickr.com/3135/2918729352_7d96b32c75_b.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Rambo First Blood Part II</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Rambo II</a>
                      </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/9/95/Avengers_Endgame_Other_Logo.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Avengers</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Avengers</a>
                      </div>
                    </div>
                </div>
            </div>
{% endblock content %}