{% extends "index.html" %}
{% block content %}
      <div class="row">
                 <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Star Wars</h5>
                        <p class="card-text"> </p>
                        <a href="#" class="btn btn-primary">Star Wars</a>
                      </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">The Hunger Games Part 1</h5>
                        <p class="card-text"> </p>
                        <a href="#" class="btn btn-primary">The Hunger Games Part 1</a>
                      </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Rambo First Blood Part II</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Rambo II</a>
                      </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Avengers</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Avengers</a>
                      </div>
                    </div>
                </div>
            </div>
{% endblock content %}