{% extends "index.html" %}
{% block content %}
      <div class="row">
                 <div class="col-sm-6">
                     <p><a href="/classics/PulpFiction"><img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Pulp_Fiction_Logo.png"
                                                             class="rounded float-left" height="330" width="330"></a></p>
                </div>
                <div class="col-sm-6">
                     <p><a href="/classics/ForrestGump"><img src="https://farm5.staticflickr.com/4081/4783233826_08db35ee56_b.jpg"
                                                                    class="rounded mx-auto d-block" height="330" width="330"></a></p>
                </div>
                <div class="col-sm-6">
                    <p><a href="/classics/TheMatrix"><img src="https://farm9.staticflickr.com/8819/17072638696_f871731849_b.jpg"
                                                        class="rounded mx-auto d-block" height="330" width="330"></a></p>
                </div>
                <div class="col-sm-6">
                    <p><a href="/classics/KillBill"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Killbill-vol1-logo.svg/724px-Killbill-vol1-logo.svg.png"
                    class="rounded mx-auto d-block" height="330" width="330"></a></p>
                </div>
      </div>
{% endblock content %}
