{% extends "index.html" %}
{% block content %}
      <div class="row">
          <div class="col-lg-6">
              <p><a href="/fantasy/ExMachina"><img src=""
                                                             class="rounded float-left" height="330" width="330"></a></p>
          </div>
          <div class="col-lg-6">
              <a href="/fantasy/Chappie"><img src=""
                                                 class="rounded mx-auto d-block" height="330" width="330"></a>
          </div>
          <div class="row">
                <div class="col-lg-6">
                    <a href="/fantasy/MenInBlack"><img src=""
                    class="rounded mx-auto d-block" height="330" width="330"></a>
               </div>
              <div class="col-lg-6">
                <a href="/fantasy/TheMatrix"><img src="https://i.pinimg.com/originals/18/f0/de/18f0dec8537ec300e9b66aa97450cf1e.jpg"
                                                        class="rounded mx-auto d-block" height="330" width="330"></a>
              </div>
          </div>




      </div>
{% endblock content %}
