<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui/jquery-ui.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui/jquery-ui.structure.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui/jquery-ui.theme.min.css') }}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    </head>
    <body>


<header class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand mr-0 mr-md-2" href="\home"><i class="fas fa-film " width="36" height="36" ></i></a>
    <div class="navbar-nav-scroll">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item"><a class="nav-link" href="/home"> Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/movie"><i class="fas fa-film"></i> Movies</a></li>
        <li class="nav-item"><a class="nav-link" href="/tvshow"> <i class="fas fa-tv"></i> TV Shows</a></li>
        <li class="nav-item"><a class="nav-link" href="/favorite"><i class="fas fa-bookmark"></i> Favorite</a></li>
        <li class="nav-item"><a class="nav-link" href="/list"><i class="fas fa-list"></i> List</a></li>
      </ul>
    </div>

    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex ">
        {% if current_user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/createaccount">Create Account</a></li>
        {%endif%}

    </ul>

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchInBD">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="search" id="goTo">Search</button>
    </form>

</header>

      <main role="main" class="jumbotron jumbotron-fluid" >
          <div class = "container">
               <div class="row">
                        {% block content %}{% endblock %}
                </div>
          </div>
     </main>


        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ url_for('static', filename='script/script.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery-ui/jquery-ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.js ')}}"></script>
    </body>
</html>