{% extends "index.html" %}
{% block content %}

		<div class="login-container-wrapper bg-dark">
			<div class="logo">
                <i class="fas fa-user-circle"></i>
			</div>
			<div><strong>Enter your information</strong></div>

			<form class="form-vertical bg-light" action="/login" method="POST">
				<div class="form-group relative">
					<input class="form-control input-lg" placeholder="Username" name="username" required>
				</div>
				<div class="form-group bg-light">
					<input class="form-control input-lg" type="password" placeholder="Password" name="password" required>
				</div>
			    <div class="form-group">
			        <button type="submit" class="btn btn-default btn-lg btn-block  bg-light">Login </button>
			    </div>
				<div class="checkbox pull-right">
			        <label> <a class="forget" href="" title="forget">Forgot your password</a> </label>
			    </div>
                <div class="checkbox pull-left">
			        <label><input type="checkbox"> Remember me</label>
			    </div>

			</form>
		</div>
{% endblock content %}



