{% extends "index.html" %}
{% block content %}
      <div class="row">
           {% for movieCard in movieCard%}
                 <div class="col-lg">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src={{movieCard.image}} alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">{{movieCard.type}}</h5>
                        <p class="card-text"> {{movieCard.description}}</p>
                        <a href="/movies/{{movieCard.type}}" class="btn bg-dark" style="color:grey">{{movieCard.textInButton}}</a>
                      </div>
                    </div>
                </div>
          {% endfor %}
      </div>
{% endblock content %}