{% extends "index.html" %}
{% block content %}

    <div class="container">
        <h2><font color="#006699">{{ movie.title }}</font></h2>
        <iframe width="560" height="315" src={{movie.videoUrl}} align = "middle"
                 allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                 allowfullscreen  ></iframe>
    </div>
    <div class="aside">
        <ul class="navbar fixed-bottom navbar-light bg-dark">
            <a class="nav-link" href="/addfavorite/{{movie.id}}"><i class="fas fa-bookmark" style="font-size:30px;color:grey"></i></a>
             <li>{{movie.Synopsis}}</li>
            <li>{{movie.Year}}</li>
             <li>{{movie.Length}}</li>
            <li>{{movie.Country}}</li>
            <li>{{movie.MaturityRating}}</li>
            <a class="nav-link" href="/addList/{{movie.id}}"><i class="fas fa-plus" style="font-size:30px;color:grey"></i></a>
        </ul>
    </div>
{% endblock content %}


