{% extends "index.html" %}
{% block content %}
        <div class="container">
        <h2><font color="#006699">{{ tvshow.title }}</font></h2>
        <iframe width="560" height="315" src={{tvshow.videoUrl}} align = "middle"
                 allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                 allowfullscreen  ></iframe>
    </div>
    <div class="aside">
        <ul class="navbar fixed-bottom navbar-light bg-dark">
            <a class="nav-link" href="/addfavorite/{{tvshow.id}}"><i class="fas fa-bookmark" style="font-size:30px;color:grey"></i></a>
            <li>{{tvshow.Synopsis}}</li>
            <li>{{tvshow.FromYear}}" - "{{tvshow.ToYear}}</li>
            <li>{{tvshow.Country}}</li>
            <li>{{tvshow.MaturityRating}}</li>
            <a class="nav-link" href="/addList/{{tvshow.id}}"><i class="fas fa-plus" style="font-size:30px;color:grey"></i></a>
        </ul>
    </div>

{% endblock content %}



<!--<div class="dropdown">-->
  <!--<button class="dropbtn">Dropdown</button>-->
  <!--<div class="dropdown-content">-->
    <!--<a href="#">Link 1</a>-->
    <!--<a href="#">Link 2</a>-->
    <!--<a href="#">Link 3</a>-->
  <!--</div>-->
<!--</div>-->